<%= form_for(@train) do |form| %>
<%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :number %>
  </div>



  <div class="actions">
    <%= form.submit "#{@train.new_record? ? 'Создать' : 'Изменить'}"%>
  </div>
<% end %>
