<!DOCTYPE html>
<html>
<head>
	<title>Поезда</title>
</head>
<body>
<table>
	<thead>
	<tr>Номер</tr>
	</thead>

<tbody>
	<% @trains.each do |train| %>
	<tr>
		<td><%= link_to train.number, train %></td>

		<td><%= link_to 'Показать', train %></td>
		<td><%= link_to 'Редактировать', edit_train_path(train) %></td>
		<td><%= link_to 'Удалить',train, method: :delete, data: {confirm: 'Уверены?'} %></td>
	</tr>
	<% end %>
</tbody>
</table>

<br>
<%= link_to 'Добавить', new_train_path %>
<%= link_to 'На главную', root_path %>

</body>
</html>