<p id="notice"><%= notice %></p>

<p><td><tr>
  <strong>Номер:</strong>
  <%= @train.number %></tr><tr>
  <strong>ID:</strong>
   <%= @train.id %></tr>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад к списку', trains_path %>
